<div class="building">
		<div class="window-column" style="margin-top: -12px;">
			<% 0.upto(21) do |row| %>
				<% Window.offset(row*4).limit(4).each do |w| %>
					<div class=window id=window-<%= w.id %>></div>
				<% end %>
				<br>
			<% end %>
		</div>
		<div class="window-column" style="margin-top: -6px;">
			<% 0.upto(21) do |row| %>
				<% Window.offset((row*4)+88).limit(4).each do |w| %>
					<div class=window id=window-<%= w.id %>></div>
				<% end %>
				<br>
			<% end %>
		</div>
		<div class="window-column" style="margin-top: 0px;">
			<% 0.upto(21) do |row| %>
				<% Window.offset((row*4)+176).limit(4).each do |w| %>
					<div class=window id=window-<%= w.id %>></div>
				<% end %>
				<br>
			<% end %>
	 </div>
</div>

<div class="row" style="background-color: white; margin-top: 200px; height: 600px;">
  <div class="span5"></div>
  <div class="span5">
  	<br>
		<h1>Share</h1>
			<%= form_tag '/submit' %>
				<%= text_field_tag 'name', nil, :placeholder => 'My name' %><br>
				<%= text_field_tag 'strength', nil, :placeholder => 'What makes me strong' %><br>
				<%= submit_tag 'Submit' %>  
  </div>
  <div class="span2"></div>
</div>
