<!DOCTYPE html>
<html>
<head>
  <title>CNA</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "cna" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script>
 $(document).ready(function() {
		$('.window').click(function() {
		 var id = $(this).attr('id');
		 var status = $(this).attr('class');
		 
		 if (status == 'window') {
		 	$('#' + id).addClass('on');
		 }
		 
		 else {
		 	$('#' + id).removeClass('on');
		 }
		 		 
		})
 });
</script>
<body>
<div class="navbar navbar-fixed-top center">
  <div class="navbar-inner center">
    <a class="brand" style="margin-left: 380px;">
    <p><i>Show us what makes you strong.</i></p>
    </a>
  </div>
</div>

<%= yield %>

</body>
</html>
